* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "General Sans", sans-serif;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 6px 24px;
  border: none;
  border-radius: 9999px;
  background-color: #d3ff56;
  color: #00101a;
  font-size: 20px;
  font-weight: 500;
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 69px;
  line-height: 90%;
}
p {
  max-width: 330px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
/* navbar */
.nav_container {
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}

/* hero */
.hero_image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero_image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.hero {
  position: absolute;
  width: 80%;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 24px 40px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

/* content */
.content_container {
  padding: 100px 140px;
  background-color: #00101a;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.content_container p {
  max-width: 310px;
}

.content_text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.image_content {
  width: 100%;
  overflow: hidden;
}

.image_content img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
/* product */
.content_product {
  padding: 100px 140px 100px 140px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.content_title h1 {
  color: #00101a;
}

.product_images {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

/*footer*/
.footer_container {
  display: flex;
  flex-direction: column;
  padding: 0 140px 0 140px;
  gap: 48px;
}
.socials {
  display: flex;
  justify-content: space-between;
}
.socials p {
  color: #00101a;
}

.social_links {
  display: flex;
  gap: 20px;
}

/* tablet responsive*/
@media (max-width: 768px) {
  /* nav */
  .nav_container {
    width: 90%;
  }
  /* hero */
  .hero {
    width: 90%;
  }
  a {
    font-size: 12px;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 12px;
    max-width: 270px;
  }
  button {
    font-size: 16px;
  }

  .hero-content {
    gap: 16px;
  }
  /* content */
  .content_container p {
    max-width: 270px;
  }
  .content_container {
    padding: 70px 90px;
    gap: 30px;
  }
  /* product */
  .content_product {
    padding: 70px 90px 70px 90px;
    gap: 30px;
  }
  .product_images {
    gap: 12px;
  }

  /* footer*/
  .footer_container {
    padding: 0 90px 0 90px;
    gap: 30px;
  }
}

/* mobile responsive*/
@media (max-width: 480px) {
  /* nav */
  .nav_container {
    width: 100%;
  }
  .nav_container img {
    width: 60px;
    height: auto;
  }
  /* hero */
  .hero {
    width: 100%;
  }
  a {
    font-size: 10px;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 10px;
    max-width: 200px;
  }
  button {
    font-size: 12px;
    padding: 4px 16px;
  }

  .hero-content {
    gap: 8px;
  }
  /* content */
  .content_container p {
    max-width: 150px;
  }
  .content_container {
    padding: 25px 45px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .content_text {
    flex-wrap: wrap;
  }
  .content_title h1 {
    font-size: 30px;
  }
  /* product */
  .content_product {
    padding: 25px 45px 25px 45px;
    gap: 10px;
  }
  .product_images {
    gap: 8px;
    flex-wrap: wrap;
  }

  /* footer*/
  .footer_container {
    padding: 0 45px 0 45px;
    gap: 15px;
  }
  .socials {
    flex-wrap: wrap;
  }
}
